<%= form_with(model: relevance, local: true) do |form| %>
  <% if relevance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relevance.errors.count, "error") %> prohibited this relevance from being saved:</h2>

      <ul>
      <% relevance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :relevance_description %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :relevance_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
