<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wish.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wish.description %>
</p>

<p>
  <strong>Initdate:</strong>
  <%= @wish.initDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @wish.endDate %>
</p>

 <p>Progress</p>
 <ul>
      <% @wish.goal.each do |goal| %>
      <li>
          <p><%=goal.name%> </p>
          <ul> 
            
          <% goal.wish_progress.each do |wish_progress| %>
            <li> <%=wish_progress.description %> - (<%=wish_progress.relevance.value%>/<%=wish_progress.goal.points%>)</li>
          <% end %>
          </ul>
      </li>
      <% end %>
 </ul>
<a href="/wish_progresses/new?wish_id=<%= @wish.id%>" class="btn btn-primary">Add progresso </a>

<% @list = @wish.goal.map{|k| "'#{k.name}'"}.join(",") %>
<% @points = @wish.goal.map{|k| k.points}.join(",") %>

<%

    map = {}
    @wish.goal.each do |goal|

      map[goal] = 0
      goal.wish_progress.each do |wp|
      
        map[goal] = map[goal]+wp.relevance.value
        
      end
    end
%>

<% @myPoints = map.map{|k,v| v}.join(",") %>

<div id="canvas-wrapper" style="width:500px; height:500px;">
<canvas id="myChart" width="200" height="200"></canvas>
</div>

<script type="text/javascript">
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
        
        labels:  [ <%=raw @list %>],
        datasets: [{
            label: 'Your wish goal',
            data:  [<%=raw @points %>],
            borderColor: "#ccc000"
        }, {

          data: [<%=@myPoints%>],
          borderColor: "#82e06d",
          label: "Progress"
        }],
        
        borderWidth: 0.5
    },
     options: {
        
    }
});
</script>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
